/* * {
    border: 1px solid red;
} */
.sec-one-box {
    background: #461952;
    border-radius: 13.4746px;
    padding: 12px;
    height: max-content;
    margin-right: 12px;
    margin-top: 14px;
}

.sec-one-box>div {
    background: #592268;
    border-radius: 50%;
    max-width: 85px;
    max-height: 85px;
    margin: auto;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-one-box img {
    widows: 65px;
    height: 65px;
}

.sec-one-box>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    color: #ffffff;
}

.sec-one-head>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 44.1929px;
    line-height: 66px;
    background: linear-gradient(90deg,
            #b52f6f 0%,
            #b8843b 45.3%,
            #461952 93.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sec-one-head>div:nth-child(2) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 75%;
    margin-bottom: 1em;
}

.sec-one-head>div:nth-child(2)>img {
    margin-right: 12px;
    width: 42px;
    height: 42px;
}

.sec-one-head>div:nth-child(3)>button:nth-child(1) {
    background: #b52f6f;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    border: none;
    outline: none;
    margin-right: 12px;
}

.sec-one-head>div:nth-child(3)>button:nth-child(2) {
    background: #f9f7f7;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    color: #2d303e;
}

.sec-one-head>div:nth-child(3)>button:nth-child(2)>img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.sec-one-second-box {
    padding-top: 37%;
}

.main_nav_links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10.5748px;
    line-height: 16px;
    /* identical to box height */

    color: #ffffff;
}

.main_nav_links>a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.main_nav_links>a>img {
    margin-bottom: 12px;
}

.sec-one-second-box>div:nth-child(1) {
    background: #461952;
    border-radius: 30px 30px 0px 0px;
    padding: 2em;
}

.sec-one-main-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.sec-one-badge {
    position: absolute;
    bottom: 17%;
    right: 14%;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14.3311px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

#section-2 {
    background-color: #fafafa;
    padding: 3em;
}

#section-2>h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 20.5305px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
}

#section-2>h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16.1375px;
    line-height: 24px;
    text-align: center;
    width: 40%;
    margin: 1em auto;
    color: #6a5e5e;
}

#section-2>div {
    display: flex;
    justify-content: space-around;
    margin: 1em auto;
    flex-wrap: wrap;
}

#section-2>div>a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    width: 20%;
    margin-bottom: 1em;
}

#section-2>div>a>p:nth-child(2) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16.5188px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

#section-2>div>a>p:nth-child(3) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13.6926px;
    line-height: 21px;
    text-align: center;
    color: #7c7777;
    width: 60%;
    margin: 1em auto;
}

#section-2>div>a>div {
    height: 114px;
}

#section-3>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#section-3>div:nth-child(1)>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    width: 35%;
    padding-top: 25px;
}

#section-3>div:nth-child(1) span {
    background: #b52f6f;
    border-radius: 10px;
    width: 150px;
    height: 11px;
    display: block;
    margin-bottom: 10px;
}

#section-3>div:nth-child(1) h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 32.9067px;
    line-height: 49px;

    color: #000000;
}

#section-3>div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    margin: 1em auto;
    flex-wrap: wrap;
}

#section-3>div:nth-child(2)>div {
    position: relative;
    width: 20%;
    margin-bottom: 1em;
    border-radius: 20px;
}

#section-3>div:nth-child(2)>div>img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#section-3>div:nth-child(2)>div>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    z-index: 999;
    padding: 1em;
}

#section-3>div:nth-child(2)>div>p>span {
    display: block;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
}

.overlay-blog {
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    top: 0;
}

#section-4 {
    background: #fafafa;
    padding: 2em;
    margin: auto;
}

.sec-4-head {
    order: 1;
}

.sec-4-head>h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20.5305px;
    line-height: 31px;
    color: #000000;
}

.sec-4-head>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16.1375px;
    line-height: 24px;
    color: #6a5e5e;
}

.sec-4-head>a {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    padding: 16px;
    background: #461952;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.sec-4-mid {
    order: 2;
}

.sec-4-mid>img {
    width: 100%;
    max-width: 183px;
    max-height: 163px;
    transform: translate(-18%, 50%);
}

.sec-4-end {
    order: 3;
}

.sec-4-end {
    display: flex;
    justify-content: space-around;
}

.sec-4-end>img {
    border-radius: 15px;
    margin: auto 10px;
    max-width: 200px;
    width: 100%;
}

.sec-4-end>img:nth-child(2) {
    transform: translateY(10%);
}

#section-5 {
    padding-top: 41%;
}

#section-5>div:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    order: 1;
}

#section-5>div:nth-child(3) {
    position: absolute;
    width: 27%;
    bottom: 0;
    right: 0;
    order: 3;
}

#section-5>div:nth-child(3)>div:nth-child(1)>img:nth-child(1) {
    display: none;
}

.section-5-mid-content {
    position: absolute;
    top: 11%;
    left: 52%;
    width: 28%;
    order: 2;
}

.section-5-mid-content>h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;

    color: #000000;
}

.section-5-mid-content>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16.1375px;
    line-height: 24px;

    color: #6a5e5e;
}

.section-5-mid-content>a {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    padding: 16px;
    background: #461952;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#section-6 {
    display: flex;
}

.section-6-part1 {
    width: 50%;
    padding: 6em;
}

.section-6-part1>h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 34.258px;
    line-height: 51px;
    width: 60%;
    color: #000000;
}

.section-6-part1>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16.1375px;
    line-height: 24px;
    width: 80%;
    margin-bottom: 2em;
    color: #6a5e5e;
}

.section-6-part1>h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 50.9427px;
    line-height: 76px;
    margin-bottom: 0 !important;
    color: #c4456f;
}

.section-6-part2 {
    width: 50%;
    padding: 6em;
    background-color: #fafafa;
}

.section-6-part2>div {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.section-6-part2>div>div:nth-child(1) {
    margin-right: 1.5em;
}

.section-6-part2>div h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15.1324px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 5px;
}

.section-6-part2>div p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13.1586px;
    line-height: 20px;
    margin-bottom: 0;
    color: #000000;
}

#section-7 {
    background-color: #fafafa;
    padding: 13em 0;
    position: relative;
}

#section-7>h1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #461952;
    width: 100%;
    position: absolute;
    top: 2%;
}

#section-7>div>img:nth-child(1) {
    position: absolute;
    top: -35%;
    right: 17%;
}

#section-7>div>img:nth-child(3) {
    position: absolute;
    bottom: -45%;
    left: 0%;
    transform: rotate(180deg);
}

.landing-testi-single {
    display: flex;
}

.landing-testi-single>div:nth-child(1) {
    width: 30%;
    border-radius: 12px 0px 0px 12px;
}

.landing-testi-single>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0px 0px 12px;
}

.landing-testi-single>div:nth-child(2) {
    width: 70%;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 12px;
}

.landing-testi-single>div:nth-child(2)>h5 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.landing-testi-single>div:nth-child(2)>h2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
    color: #525252;
}

.landing-testi-single>div:nth-child(2)>p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    min-height: 125px;
    max-height: 126px;
    overflow-y: scroll;
    scrollbar-width: thin;
    color: #525252;
}

#landing-page-testimonial {
    position: relative;
    z-index: 999;
    margin: auto;
}

#section-1>div:nth-child(1) {
    top: 15%;
}

@media only screen and (max-width: 1200px) {
    #section-3>div:nth-child(2)>div>p {
        top: 33%;
    }

    #section-5>div:nth-child(1) {
        width: 45%;
    }

    .section-5-mid-content {
        left: 44%;
        width: 37%;
    }

    .section-6-part1>h1 {
        width: 80%;
    }

    .section-6-part1>p {
        width: 90%;
    }
}

@media only screen and (max-width: 998px) {

    /* .sec-one-box {
        width: 11% !important;
    } */
    #section-1 {
        padding: 2em;
    }

    .sec-one-second-box>div {
        display: none;
    }

    .sec-one-main-img>img {
        width: 84%;
    }

    .sec-one-second-box {
        padding-top: 45%;
    }

    .sec-one-box {
        display: none;
    }

    .sec-one-head>p {
        font-weight: 700;
        font-size: 17.9633px;
        line-height: 27px;
    }

    .sec-one-head>div:nth-child(2)>img {
        display: none;
    }

    .sec-one-head>div:nth-child(3)>button {
        font-weight: 500 !important;
        font-size: 9.14286px !important;
        line-height: 14px !important;
    }

    .sec-one-head>div:nth-child(2) {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }

    #section-3>div:nth-child(2)>div {
        min-width: 344px;
        height: 344px;
    }

    #section-3>div:nth-child(2)>div>img {
        height: 344px;
    }

    #section-3>div:nth-child(2)>div>p {
        top: 53%;
    }

    .sec-4-end {
        order: 1;
    }

    .sec-4-mid>img {
        transform: rotate(53deg) !important;
    }

    .sec-4-mid {
        order: 2;
    }

    .sec-4-head {
        text-align: center;
        order: 3;
    }

    #section-5>div:nth-child(1) {
        display: none;
    }

    #section-5 {
        padding-top: 0 !important;
        display: flex;
        flex-direction: column;
        padding: 3em 0;
    }

    .section-5-mid-content {
        width: 100%;
        position: unset;
        order: 2;
        text-align: center;
    }

    #section-5>div:nth-child(3) {
        display: flex;
        position: unset;
        order: 1;
        width: 100%;
    }

    #section-5>div:nth-child(3)>div:nth-child(1) {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-5>div:nth-child(3)>div:nth-child(2) {
        width: 50%;
    }

    #section-5>div:nth-child(3)>div:nth-child(1)>img:nth-child(1) {
        display: unset;
        width: 100%;
        max-width: 200px;
        max-height: 200px;
    }

    #section-5>div:nth-child(3)>div:nth-child(2)>img:nth-child(1) {
        display: none;
    }

    #section-5>div:nth-child(3)>div:nth-child(2)>img:nth-child(2) {
        display: block !important;
    }

    .section-6-part1 {
        text-align: center;
        padding-bottom: 1em;
    }

    .section-6-part2 {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .section-6-part2>div>div {
        width: 100%;
        text-align: center;
    }

    .section-6-part2>div {
        flex-wrap: wrap;
    }

    #section-6 {
        flex-wrap: wrap;
    }

    #section-6>div {
        width: 100%;
    }

    .section-6-part1>h1 {
        width: 100%;
    }

    .section-6-part2>p {
        width: 100%;
    }

    .landing-testi-single {
        flex-wrap: wrap;
    }

    .landing-testi-single>div {
        width: 100% !important;
        text-align: center;
    }

    #section-7>div>img:nth-child(1) {
        top: -17%;
    }

    #section-7>div>img:nth-child(3) {
        bottom: -21%;
    }
}

@media only screen and (max-width: 767px) {
    #section-2>div>a {
        min-width: 272px;
    }

    #section-2>h3 {
        width: 100% !important;
    }

    #section-3>div:nth-child(1)>div {
        width: 100% !important;
    }

    #section-3>div:nth-child(1) span {
        margin: auto;
    }

    #section-3>div:nth-child(1) h3 {
        font-weight: 600;
        font-size: 19.5652px;
        line-height: 29px;
        text-align: center;
    }

    #section-3>div:nth-child(1)>p {
        width: 100% !important;
        text-align: center;
    }

    .sec-4-mid>img {
        transform: rotate(104deg) !important;
    }

    .landing-testi-single>div:nth-child(2)>h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    #section-1>div:nth-child(1) {
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 576px) {
    .sec-4-end>img {
        max-width: 88px;
    }

    #section-4>div {
        margin: 0 !important;
    }

    #section-7>div>img:nth-child(1) {
        top: -12%;
        right: 0%;
    }

    #section-7>div>img:nth-child(3) {
        display: none;
    }

    #section-7 {
        padding-bottom: 4em;
        padding-top: 8em;
    }

    .sec-one-head>div:nth-child(2) {
        font-size: 12px;
    }

    .sec-one-head>p {
        font-size: 14.9633px;
        margin-bottom: 3px;
    }

    .sec-one-head>div:nth-child(3)>button:nth-child(2)>img {
        margin-right: 5px;
    }

    .sec-one-badge {
        font-size: 8.81168px;
        line-height: 13px;
    }

    .sec-one-badge>img {
        width: 15px;
        height: 15px;
    }

    .sec-one-head {
        width: 70% !important;
    }

    #section-2>h2,
    #section-2>h3 {
        display: none;
    }

    #section-2>div>a {
        min-width: 189px;
    }

    #section-2>div>a>p:nth-child(2) {
        font-size: 11.5015px;
        line-height: 17px;
    }

    #section-2>div>a>p:nth-child(3) {
        font-size: 9.53372px;
        line-height: 14px;
    }

    #section-2 {
        padding: 3em 1em !important;
    }

    #section-3>div:nth-child(2) {
        overflow-x: auto;
        flex-wrap: unset !important;
        justify-content: unset !important;
    }

    #section-3>div:nth-child(2)::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    #section-3>div:nth-child(2) {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    #section-3>div:nth-child(2)>div {
        min-width: 65% !important;
        margin-right: 3%;
    }

    #section-3>div:nth-child(2)>div>p {
        top: 45px !important;
    }

    .section-5-mid-content>h3 {
        font-size: 15px !important;
        line-height: 22px !important;
    }

    .section-5-mid-content {
        width: 75%;
        margin: auto;
    }

    #section-5>div:nth-child(3)>div:nth-child(1)>img:nth-child(1) {
        width: 50%;
        min-width: 120px;
        max-height: 120px;
    }

    .section-6-part1 {
        padding: 2em !important;
    }

    .section-6-part1>h1 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 900;
    }

    .section-6-part1>p {
        margin: auto;
    }

    .section-6-part1>h2 {
        font-weight: 600;
        font-size: 42.133px;
    }

    .section-6-part2 {
        padding: 4em;
    }

    .section-6-part2>div>div:nth-child(1) {
        margin-right: 0 !important;
    }

    #section-7>h1 {
        font-size: 15px;
        line-height: 18px;
    }

    #section-7>div>img:nth-child(1) {
        top: -5% !important;
    }

    #section-7>div>img:nth-child(1) {
        top: -12%;
        right: 0%;
    }

    #section-7>div>img:nth-child(3) {
        display: none;
    }

    #section-7 {
        padding-bottom: 4em;
        padding-top: 4em;
    }
}

@media only screen and (max-width: 416px) {
    #section-2>div>a {
        min-width: 156px;
    }
}

@media only screen and (max-width: 394px) {
    .sec-one-main-img {
        width: 40% !important;
    }

    .sec-one-head {
        width: 90% !important;
    }

    .sec-one-badge {
        display: none;
    }
}

@media only screen and (max-width: 327px) {
    .sec-one-main-img {
        display: none !important;
    }

    .sec-one-head {
        width: 100% !important;
    }

    .sec-one-head>div {
        font-size: 8px !important;
    }
}

.landing-testi-single>div:nth-child(2)>p::-webkit-scrollbar {
    background-color: #fff;
    width: 7px;
}

.landing-testi-single>div:nth-child(2)>p::-webkit-scrollbar-track {
    background-color: #ebebf5;
}

.landing-testi-single>div:nth-child(2)>p::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}

.landing-testi-single>div:nth-child(2)>p::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 1px solid #fff;
}
#landing-page-testimonial .splide__pagination .is-active {
    background: #461952 !important;
}

#landing-page-testimonial .splide__pagination {
    bottom: -2.5em !important;
}